<div class="home-container">
    <div class="home__header">
        <div class="home__header-left">
            <img src="assets/images/cover.png" alt="logo" mat-card-avatar>
            <div class="input">
                <mat-icon>search</mat-icon>
                <form>
                    <input type="text" placeholder="Search...">
                </form>
            </div>
        </div>
        <div class="home__header-middle">
            <div class="active">
                <mat-icon>home</mat-icon>
            </div>
            <div>
                <mat-icon>ondemand_video</mat-icon>
            </div>
            <div>
                <mat-icon>store</mat-icon>
            </div>
            <div>
                <mat-icon>group</mat-icon>
            </div>
            <div>
                <mat-icon>flag</mat-icon>
            </div>
        </div>
        <div class="home__header-right">
            <div>
                <img src="" alt="avatar" class="" mat-card-avatar>
                <span>H n a T e i k</span>
            </div>
            <div>
                <mat-icon>add</mat-icon>
            </div>

            <div>
                <mat-icon matBadge="4" matBadgeColor="primary" matBadgeOverlap="false" matBadgePosition="above after">
                    forum</mat-icon>
            </div>
        </div>
    </div>
    <div class="home__body">

    </div>
</div>