<section class="register">
    <div class="header">
        <h3>Sign up</h3>
        <p>It's quick and easy</p>
    </div>

    <div class="body">
        <form #form="ngForm">
            <div class="user_name">
                <input type="text" placeholder="FirstName" name="fname" [(ngModel)]="userModel.firstName">
                <input type="text" placeholder="LastName" name="lname" [(ngModel)]="userModel.lastName">
            </div>

            <div class="email_password">
                <div class="login-control">
                    <input type="email" placeholder="Email" name="email" (change)="checkIsValidEmail()"
                        [(ngModel)]="userModel.email">
                    <i class="fa-solid fa-circle-check" [ngClass]="{'show': isValidEmail===false}"></i>
                    <span class="login-error" [ngClass]="{'show': isValidEmail===true}">Email is already exist</span>
                </div>
                <input type="text" placeholder="Image URL" name="avatar" [(ngModel)]="userModel.imgUrl">
                <input type="password" placeholder="Password" name="password" [(ngModel)]="userModel.password">
            </div>

            <p>By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy. You may receive SMS
                notifications from us
                and can opt out at any time.</p>

            <button type="submit" class="submit-button" (click)="handleRegister()" [mat-dialog-close]="form.value">Sign
                Up</button>
        </form>
    </div>
</section>