<section class="create-article">
    <header>
        <h4>Create article</h4>

    </header>
    <mat-icon>close</mat-icon>
    <form #form="ngForm">
        <div class="user-avatar">
            <img src="" mat-card-avatar alt="">
            <span class="name">User name</span>
        </div>
        <textarea name="" id="" cols="30" rows="10" name="content" ngModel>
            What are you thinking?
        </textarea>
        <button class="submit" type="submit">Post</button>
    </form>
</section>