<div class="login-container">
    <header class="login__header">
        <div class="login__header--left">
            <img src="assets/images/cover.png" alt="">
            <h2>DKH helps you connect and share with the people in your life.</h2>
        </div>
        <div class="login__header--right">
            <mat-card class="login__header--right__card">
                <mat-card-content class="login__header--right__card__content">
                    <form class="login-form">
                        <div class="login-control">
                            <input type="text" name="email" [(ngModel)]="email" (change)="checkEmail()"
                                placeholder="Enter your email">
                            <i class="fa-solid fa-circle-check" [ngClass]="{'show': isEmailValid===true}"></i>
                            <span class="login-error" [ngClass]="{'show': isEmailValid===false}">You enter wrong
                                email</span>
                        </div>
                        <div class="login-control">
                            <input type="password" name="password" [(ngModel)]="password" (change)="checkPassword()"
                                placeholder="Enter your password">
                            <i class="fa-solid fa-circle-check" [ngClass]="{'show': isPasswordValid===true}"></i>
                            <span class="login-error" [ngClass]="{'show': isPasswordValid===false}">You enter wrong
                                password</span>
                        </div>
                        <input type="submit" class="login-button" (click)="login()" value="Login">
                    </form>
                    <a href="#">Forgotten account?</a>
                    <button class="create-account" (click)="openRegister()">Create New Account</button>
                </mat-card-content>
            </mat-card>
            <p class="tagline"><strong>Create a Page</strong> for a celebrity, band or business.</p>
        </div>
    </header>

    <footer class="login__footer">
        <img src="assets/images/footer.jpg" alt="footer">
    </footer>
</div>